<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>I'm Ashok</h1>
    <p>Ashok is a great person.</p>
    <hr>
    <a href="https://google.com">Link to Google</a>
    <br>
    <a href="https://gmail.com">Link to Gmail</a>
    <hr>
    <img src="" alt="">
</body>
</html>