<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>I'm Ashok</h1>
    <p>Ashok is a great person.</p>
    <hr>
    <a href="https://google.com">Link to Google</a><br>
    <a href="https://gmail.com">Link to Gmail</a><br>
    <img src="static/images/american nightmare.jpg" alt=""><br>
    <img src="static/images/Ashok logo.jpg" alt=""><br>
    <img src="static/images/logo.jpg" alt=""><br>
</body>
</html>